@model PrestamoApp.Models.PrestamoModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PrestamoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tasa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
